/* Datatable.css */

/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header Styles */
h1 {
  text-align: center;
  color: #0a11f2;
  font-size: 24px;
}

/* Search Input Styles */
.search-input {
  width: 300px;
  padding: 12px;
  margin: 0 auto 20px; /* Horizontal centering and bottom margin */
  border: 1px solid #034b12;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Sort Button Styles */
.sort-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 30px;
}

.sort-button:hover {
  background-color: #0056b3;
}

.sort-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Table Styles */
table {
  width: 90%;
  border-collapse: collapse;
  margin: 20px auto;
}

th, td {
  border: 1px solid #221f1f;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #83ec2d;
  color: #333;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 30px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
